#MongoDB URI
MONGODB_URI=
#JWT_SECRET 
JWT_SECRET=
JWT_EXPIRED=
#FRONT_END_URL_CUSTOMER
FRONT_END_URL_CUSTOMER=
BACK_END_URL_ADMIN=http://localhost:4000

#SMTP SERVER
ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

#EASYPOST CONFIGURATION
EASYPOST_API_KEY=
EASYPOST_WEBHOOK_SECRET=
EASYPOST_TEST_MODE=false

#SENDER ADDRESS
SENDER_ADDRESS_STREET=
SENDER_ADDRESS_CITY=
SENDER_ADDRESS_STATE=
SENDER_ADDRESS_ZIP=
SENDER_ADDRESS_COUNTRY=
SENDER_NAME=
SENDER_EMAIL=
SENDER_PHONE=